.App {
	text-align: center;
	/* background-color: var(--cream); */
	height: 100%;
}


.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	/* display: flex; */
	/* flex-direction: column; */
	/* overflow: hidden; */
	background-color: white;
}

.container button {
	border-top: none;
	border-bottom: none;
	border-width: 1px;
	background-color: white;
	height: 100%;
}

.head {
	display: flex;
	align-content: center;
	height: 80px;
	background-color: black;
	justify-content: space-between;
}

.logo {
	width: 100px;
	object-fit: contain;
	margin-left: 15px;
}

.body {
	height: 100%;
	display: flex;
}

.table_container {
	flex: 3;
	position: relative;
}

.filter_container {
	flex: 1;
}

.trainee-courses {
	width: 100%;
}

.home {
	margin: 50px;
	padding: 50px;
	box-shadow: var(--box-shadow);
	background-color: var(--cream);
	color: var(--teal);
	height: 50vh;
}

.login {
	margin: 50px;
	padding: 50px;
	box-shadow: var(--box-shadow);
	background-color: var(--cream);
	color: var(--teal);
	height: 60vh;
}

.home-button {
	margin: 10px;
	border: none;
	background-color: white;
	padding: 5px 15px;
	color: var(--teal);
	border-radius: 5px;
}

.display-courses {
	width: 100%;
	margin: 10px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);

	background-color: white;
}

.exercise {
	width: 300px;
	margin: 5px;
	font-size: 8px;
}

.course-details1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.danger {
	/* top: 10px; */
	border: none;
	background-color: rgb(255, 240, 240);
	padding: 5px 10px;
	color: red;
	border-radius: 5px;
	margin-bottom: 10px;
}

.btn2 {
	border: none;
	background-color: aliceblue;
	padding: 5px 15px;
	color: mediumaquamarine;
	border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.container1 {
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
	/* width: 100%; */
	/* background: #000; */
	/* color: #fff; */
	/* font-family: 'Poppins', sans-serif; */
	/* float: left;
	left: 3px;
	padding: 20px;
	margin: 20px; */
}

main {
	width: 100%;
	padding: 20px;
}

.sidebar {
	/* margin: 10 auto; */
	/* align-items:left; */
	/* margin: 0;
padding: 0; */
	/* float: left; */

	background: #13292A;
	color: #fff;
	height: 100vh;
	width: 200px;
	transition: all 0.5s;
}

.top_section {
	display: flex;
	align-items: center;
	padding: 20px 15px;

}

.logo {
	font-size: 20px;
}

.bars {
	display: flex;
	font-size: 25px;
	margin-left: 50px;
}

.link {
	display: flex;
	color: #fff;
	padding: 10px 15px;
	gap: 15px;
	transition: all 0.5s;
}

.link:hover {
	background: rgb(252, 252, 252);
	color: #000;
	transition: all 0.5s;
}

.active {
	background: rgb(255, 255, 255);
	color: #000;
}

.icon,
.link_text {
	font-size: 20px;
}