/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --black: #282828;
  --blue: #0f6fde;
  --box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
body {
  color: var(--black);
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.view {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.price {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-price  {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
 
}
.course-price h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-price p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
 
}
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
.InstructorSearch {
  margin-right: 15px;
  height: 40px;
  align-self: center;
  outline: none;
  border: none;
  width: 400px;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 15px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.my-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my-container button {
  border: hidden;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.onHover-details h6 {
  font-size: 12px;
}
.labels {
  color: #1aac83;
  font-size: 12px;
}
.faded {
  color: rgb(116, 116, 116);
  font-weight: 200;
}
.subtitles-faded {
  color: rgb(116, 116, 116);
  font-weight: 100;
  font-size: 10px;
}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.view {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.det{
  display: grid;
  grid-template-columns: auto auto auto auto;

}
.course-details {
 
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.search {
  margin-right: 15px;
  height: 40px;
  align-self: center;
  outline: none;
  border: none;
  width: 400px;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 15px;
}
.price {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.prices{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.prices h2{
  text-align: center;
}
.course-price  {
 
  background:  white;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
 

}
.course-price h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-price p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.container {
  margin: 10px;
  align-items: flex-start;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: 4px;
}

.heading {
  margin: 0;
  font-size: 16px;
  margin: 10px;
  text-align: center;
}
.subjects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.subjects {
  min-width: 90px;
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.subjects_label {
  margin: 0;
  margin-left: 5px;
}
.container {
  height: 60px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  background-color:white;
  border-radius: 4px;
}
.sort_by {
  font-size: 16px;
  font-weight: 500;
}
.select {
  width: 80px;
  height: 30px;
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid var(--black);
  outline: none;
  cursor: pointer;
  padding: 5px;
}
.arrow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  outline: none;
  border: 1px solid var(--black);
  margin-left: 5px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
.up_arrow,
.down_arrow {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  margin: 10px;
  background-color: white;
  border-radius: 4px;
}
.title_tab {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  flex: 2;
  text-align: left;
  margin-left: 20px;
}
.subjects_tab {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  flex: 1;
}
.rating_tab {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  flex: 1;
}
.course {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 5px 10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.1s ease;
  background-color: white;
  border-radius: 4px;
}
.course:hover {
  scale: 1.01;
}
.title_container {
  flex: 2;
  display: flex;
  align-items: center;
  object-fit: contain;
}
.course_title {
  font-size: 16px;
  font-weight: 500;
}
.subjects_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course_subjects {
  font-size: 16px;
  font-weight: 400;
}
.rating_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course_rating {
  font-size: 16px;
  font-weight: 400;
}

.subtitles {
  color: #1aac83;
}

.videos {
  margin: 0px;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  color: mediumaquamarine;
  border-radius: 5px;
  font-size: 10px;
}